@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Brugere", "Index", "Bruger")
</p>
<p>
    <ul>
        <li>@Html.ActionLink("Brugere", "Index", "Bruger")</li>
    </ul>
</p>